<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139586901-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-139586901-6');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WZDBQRG');</script>
    <!-- End Google Tag Manager -->

    <script src="https://unpkg.com/vue-recaptcha@latest/dist/vue-recaptcha.min.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
    <meta name="theme-color" content="#448AFF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#448AFF">
    <meta name="apple-mobile-web-app-title" content="Riichi mahjong, Go, Shogi">
    <meta name="description" content="Play Riichi mahjong, Go, Shogi in Ljubljana, Slovenia.">

    <title>Play Riichi mahjong, Go, Shogi in Ljubljana, Slovenia</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Riichi mahjong, Go, Shogi" />
    <meta property="og:description" content="Play Riichi mahjong, Go, Shogi in Ljubljana, Slovenia." />
    <meta property="og:image" content="https://play.riichi-mahjong-go-shogi.si/icon512x512.png" />
    <meta property="og:url" content="https://play.riichi-mahjong-go-shogi.si/" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Riichi mahjong, Go, Shogi">
    <meta name="twitter:description" content="Play Riichi mahjong, Go, Shogi in Ljubljana, Slovenia.">
    <meta name="twitter:image" content="https://play.riichi-mahjong-go-shogi.si/icon512x512.png">

    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="index.css" type="text/css"/>
    <!--
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@1.4.1/dist/vue-ctk-date-time-picker.css">
    -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-datetime@1.0.0-beta.8/dist/vue-datetime.min.css">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZDBQRG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <style>
      .g-signin-button {
        display: inline-block;
        width: 100%;
        max-width: 340px;
        text-align: center;

        color: white;
        background-color: red;
        font-size: 16px;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    </style>
    <style>
      .fb-signin-button {
        display: inline-block;
        width: 100%;
        max-width: 340px;
        text-align: center;

        color: white;
        background-color: #3b5998;
        font-size: 16px;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    </style>

    <div id="app">

      <img src="icon128x128.png" alt="logo">
      <div id="inner">
        <div class="wikipedia">Play <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Japanese_Mahjong">Mahjong</a> in <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Ljubljana">Ljubljana, Slovenia</a></div>
        <div class="wikipedia">Play <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Go_(game)">Go</a> in <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Ljubljana">Ljubljana, Slovenia</a></div>
        <div class="wikipedia">Play <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Shogi">Shogi</a> in <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Ljubljana">Ljubljana, Slovenia</a></div>

        <h2>1.) Select a game:</h2>

        <div class="game">I want to play:</div>
        <div class="game">
          <input type="checkbox" id="mahjong" value="Mahjong" v-model="checkedGames">
          <label for="mahjong">Mahjong</label>
        </div>
        <div class="game">
          <input type="checkbox" id="go" value="Go" v-model="checkedGames">
          <label for="go">Go</label>
        </div>
        <div class="game">
          <input type="checkbox" id="shogi" value="Shogi" v-model="checkedGames">
          <label for="shogi">Shogi</label>
        </div>
<!--
        <div>
          <span>to play:</span>
          <span v-for="game in checkedGames"> {{game}}</span>
        </div>
-->
        <h2>2.) Pick a date:</h2>

        <div>
          <!--
          <vue-ctk-date-time-picker ref="picker" label="Pick a date!" v-model="dateTime" range></vue-ctk-date-time-picker>
          -->
          <datetime ref="picker" type="datetime" v-model="dateTime" input-id="datetime" ></datetime>
        </div>

        <h2>3.) Pick a location:</h2>

        <template>
          <l-map :zoom="zoom" :center="center" style="height: 500px;" ref="map">
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker :lat-lng="marker"></l-marker>
          </l-map>
        </template>

        <h2>4.) Sign in:</h2>

        <div v-if="!signedIn">
          <template>
            <g-signin-button
              :params="googleSignInParams"
              @success="onGoogleSignInSuccess"
              @error="onGoogleSignInError">
              <i class="fab fa-google"></i>
              Sign in with Google
            </g-signin-button>
          </template>
          <template>
            <fb-signin-button
              :params="facebookSignInParams"
              @success="onFacebookSignInSuccess"
              @error="onFacebookSignInError">
              <i class="fab fa-facebook-f"></i>
              Sign in with Facebook
            </fb-signin-button>
          </template>
        </div>
        <button v-if="signedIn" id="sign-out" v-on:click="signOut()">Sign out: {{userName}}</button>

        <h2>5.) Confirm:</h2>

        <vue-recaptcha
          style="display: inline-block; padding: 10px"
          ref="recaptcha"
          @verify="onVerify"
          @expired="onExpired"
          :sitekey="sitekey">
        </vue-recaptcha>
        <!--
        <br>
        <button @click="resetRecaptcha"> Reset ReCAPTCHA </button>
        -->
      </div>
    </div>

    <noscript>Sorry, your browser does not support JavaScript!</noscript>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=altblack"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@1.4.1/dist/vue-ctk-date-time-picker.umd.min.js" charset="utf-8"></script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.13.2/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/weekstart@1.0.0/dist/commonjs/main.min.js"></script>
    <script src="https://unpkg.com/vue-datetime@1.0.0-beta.8/dist/vue-datetime.min.js"></script>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/vue2-leaflet"></script>

    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="vue-google-signin-button.min.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2277365205653600',
          cookie     : true,  // enable cookies to allow the server to access the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.8' // use graph api version 2.8
        });
      };
      (function(doc, tag, id) {
        var js, firstjs = doc.getElementsByTagName(tag)[0];
        if (doc.getElementById(id)) {
          return;
        }
        js = doc.createElement(tag);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        firstjs.parentNode.insertBefore(js, firstjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="vue-facebook-signin-button.min.js"></script>
    <script src="index.js"></script>
	  <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function() {
          navigator.serviceWorker.register("worker.js").then(function(registration) {
            console.log("ServiceWorker registration successful with scope: ", registration.scope);
          }, function(err) {
            console.log("ServiceWorker registration failed: ", err);
          });
        });
      }
    </script>
  </body>
</html>