body {
    background-color: #F8FFF8;
    color: #004000;
    font-family:'Roboto', 'Arial', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 14pt;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family:'Roboto Mono', 'Arial', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-family:'Roboto Mono', 'Arial', sans-serif;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;      
}

#sign-out {
    margin: 10px;
    padding: 10px;
}

.wikipedia {
    padding: 10px;
    font-size: 12pt;
    text-align: right;
}

.left {
    padding: 10px;
    font-size: 14pt;
    text-align: left;
}

.center {
    padding: 10px;
    font-size: 14pt;
    text-align: lefcentert;
}

.columns {
    display: flex;
}

.column {
    flex: 1 1 0px;
    margin: 10px;
}

.friend {
    display: block;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 340px;
}

#app {
    text-align: center;
}

#inner {
    width: 100%;
    /* max-width: 720px; */
    max-width: 800px;
    margin: 0 auto;
}

#datetime {
    width: 100%;
    padding: 10px;
}

#location {
    width: 100%;
    margin: 20px 0px;
}

.Google {
    display: inline-block;
    width: calc(100% - 10px);
    max-width: 340px;
    text-align: center;

    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Facebook {
    display: inline-block;
    width: calc(100% - 10px);
    max-width: 340px;
    text-align: center;

    text-decoration: none;
    color: white;
    background-color: #3b5998;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
